/* FOOTER CLASSES */

/* FOOTER CONTAINER */
.footer_container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1440px;
    height: 141px;
    background-color: #06182F;
    /* padding-right: 3px; Для Safari */
}
.footer_side {
    width: auto;
    height: 141px;
}

/* EMAIL BLOCK AND TEXT */
.footer_block_email {
    display: inline-block;
    width: 176px;
    height: 21px;
    margin-left: 180px;
    margin-top: 29px;
    background-color: inherit;
}
.footer_text_email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* PHONES AND NAMES BLOCK AND TEXT */
.footer_block_ph-na {
    width: 222px;
    height: 61px;
    margin-left: 175px;
    margin-top: 16px;
}
.str_phones{
    display: flex;
    /* justify-content: space-between; */
    width: inherit;
    height: 19.5px;
}
/* Пустая строка (у нее другая высота) */
.str_clear {
    width: inherit;
    height: 5px;
}
/* Шрифт номера телефона */
.footer_phones_number {
    width: 156px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
/* Шрифт имени */
.footer_phones_name {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 5px;
}
/* Сервисы */
.footer-service {
    width: 304px;
    height: 44px;
    margin-top: 28px;
    margin-right: 175px;
}
/* Шрифт сервисов */
/* hde */
.footer-neon-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #00FEFF;

}

/* поле Org */
.footer_org {
    margin-top: 20px;
    height: 22px;
    margin-right: 175px;
}
.footer_org_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

color: #FFFFFF;
}

/* Адаптация под мобилу 376х659 */
/* Делать после адаптации header */
@media (max-width: 875px) {
    .footer_container {
        display: block;
        height: 260px;
        width: 100vw;
    }
    .footer_side {
        display: inline-block;
        max-width: 100vw;
        height: auto;
    }
    .footer_block_ph-na {
        height: auto;
    }
    .footer_block_email {
        display: inline-block;
        width: 90vw;
        margin-left: 17px;
        margin-top: 31px;
    }
    .footer_block_ph-na {
        display: inline-block;
        width: 90vw;
        margin-left: 15px;
    }
    .footer-service {
        margin-right: 0px;
        margin-left: 17px;
        margin-top: 26px;
    }
    .footer_org {
        margin-right: 0px;
        margin-left: 17px;
        margin-top: 5px;
    }
    .footer_org_text {
        text-align: left;
    }
    .footer-neon-text {
        text-align: left;
    }
    .str_clear {
        height: 18px;
    }
}