/* FOOTER CLASSES */

/* FOOTER CONTAINER */
.footer_container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 141px;
    background-color: #06182F;
}
.footer_side {
    width: 500px;
    height: 141px;
}

/* EMAIL BLOCK AND TEXT */
.footer_block_email {
    display: inline-block;
    width: 176px;
    height: 21px;
    margin-left: 180px;
    margin-top: 29px;
    background-color: inherit;
}
.footer_text_email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* PHONES AND NAMES BLOCK AND TEXT */
.footer_block_ph-na {
    width: 222px;
    height: 61px;
    margin-left: 175px;
    margin-top: 16px;
}
.str_phones{
    display: flex;
    /* justify-content: space-between; */
    width: inherit;
    height: 19.5px;
}
/* Пустая строка (у нее другая высота) */
.str_clear {
    width: inherit;
    height: 5px;
}
/* Шрифт номера телефона */
.footer_phones_number {
    width: 156px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
/* Шрифт имени */
.footer_phones_name {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 5px;
}



@media (max-width: 768px){

    .footer_container {
        height: 260px;
        width: 100vw;
    }

}