.price_container {
    max-width: 1090px;
    margin-left: 175px;
    margin-right: 177px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-subcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 321px;
    width: 1090px;
}
.price-card_container {
    width: 530px;
    height: 321px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.price-description {
    width: 530px;
    height: 290px;
    margin-top: 34px;
}
.price-text_container {
    width: 100%;
    max-height: 236px;
}
.price-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #252D37;
}
.price-text_special {
    font-weight: bold;
}
.price-card {
    width: 259px;
    height: 321px;
    border: 2px solid #001E42;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.price-card_style-1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #001E42;
    padding-top: 38px;
}
.price-card_style-2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #001E42;
}
.price-card_style-3 {
    font-weight: bold;
    font-size: 70px;
    line-height: 115%;
    color: #001E42
}
.price-card_style-4 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #001E42;
}
.price-card_style-5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #001E42;
    padding-bottom: 42px;
    padding-top: 10px;
}
.download {
    width: 399px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.download-IT {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #001E42;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-left: 23px;
    border: 2px solid #001E42;
    box-sizing: border-box;
    margin-right: 24px;
    width: 157px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    cursor: pointer;
}
.download-mounting {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #001E42;
    transform: matrix(1, 0, 0, 1, 0, 0);
    cursor: pointer;
    border: 2px solid #001E42;
    box-sizing: border-box;
    width: 218px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 23px;
    background-color: #fff;
}
.download-IT:hover {
    background-color:#F2F2F2;
}
.download-mounting:hover {
    background-color:#F2F2F2;
}
@media (max-width:1411px) {
    .price_container {
        /* max-width: 700px;
        display: flex; */
        flex-direction: column;
    }
    /* .price-title {
        width: auto;
        height: 61px;
    } */
    /* .price-subcontainer {
        max-width: 700px;
        flex-direction: column;
    } */
}
@media (max-width:1341px) {
    .price-subcontainer {
        max-width: 959px;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 600px;
        margin-right: 177px;
        
    }
    .price-description {
        width: 100%;
    }
    .price-card_container {
        margin-top: 30px;
        margin-left: 200px;
    }
}
@media (max-width:1024px) {
    .price-text_container {
        width: 700px;
    }
    .price-card_container {
        margin-top: 30px;
        margin-left: 50px;
    }
}
@media (max-width:768px) {
    .price_container {
        margin-left: 13px;
    }
}
@media (max-width:426px) {
    .download {
        display: none;
    }
    .price-subcontainer {
        max-width: 340px;
        min-height: 900px;
    } 
    .price-text {
        font-size: 16px;
    }
    .price-text_container {
        width: 340px;
    } 
    .price-card_container {
        margin-top: 19px;
        margin-left: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 590px;
        max-width: 343px;
        
    }
    .price-description {
        min-height: 275px;
    }
    .price-card {
        width: 345px;
        height: 287px;
    }
    .download  {
        display: contents;
    }
    
}
@media (max-width:321px) {
    .price-subcontainer {
        max-width: 290px;
        min-height: 900px;
    }
    .price-text_container {
        width: 290px;
    }
    .price-card_container {
        margin-top: 30px;
        max-width: 290px;
    }
    .price-card {
        width: 290px;
    }
}