body {
    font-family: "Montserrat";
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    margin: auto;
}
.input, button, a {
    font-family: "Montserrat";
}

/* кнопка */
.button {
    z-index: -1;
    width: 219px;
    height: 22px;
    text-align: center;
    cursor: pointer;
    padding: 14px 12px 14px 22px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #002047;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #00FEFF;
    font-family: "Montserrat";
}
.button_vector {
    height: 11px;
    margin-right: 11.72px;
}
/* Конец хедера */


/* При разрешении до 875px*/
@media (max-width:875px) {
    /* отключаем поле о нас/услуги/цены  */
    .menu{
        z-index: 2;
    }
}

/* Начало Первого контейнера */

.description {
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
    max-height: 560px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(1, 53, 113, 0.25), rgba(1, 53, 113, 0.25)), url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-top {
    display: inline-block;
    width: 568px;
    height: 110px;
    margin-top: 155px;
    margin-left: 175px;
}
.card-middle {
    display: inline-block;
    width: 389px;
    height: 21px;
    margin-top: 57px;
    margin-left: 175px;
}

.card-bottom {
    display: inline-block;
    width: 229px;
    height: 69px;
    margin-left: 175px;
}
.button-main {
    display: inline-block;
    width: 253px;
    height: 50px;
    margin-left: 175px;
    margin-top: 28px;
}
.under-bottom {
    display: none;
    width: 318px;
    height: 49px;
    margin-top:37px;
    margin-left: 15px;

}
.under-bottom-text {
    font-size: 14px;
    line-height: 16px;
    line-height: 115%;
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
}
.card-title {
    font-weight: 900;
    font-size: 50px;
    line-height: 100%;
    color: #00FEFF;
    margin-bottom: 57px;
}
.card-description {
    font-weight: 900;
    font-size: 18px;
    line-height: 103.32%;
    color: #00FEFF;
}
.card-price {
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}
.card-price_special {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
}
.card-place {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 28px;
}
/* Конец первого контейнера */

/* Начало блока "О нас" */
.about {
    width: calc(100vw - 352px);
    margin-top: 97px;
    background-color: #FFFFFF;
    margin-left: 177px;
    margin-right: 175px;
    display: flex;
    justify-content: space-between;
}
.about_ONas {
    display: inline-block;
    width: 186px;
    height: 58px;
    margin-top: 0px;
    padding-right: 60px;
}
.tools-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
    min-width: 176px;
    margin-right: 80px;
}
.about-description {
    display: inline-block;
    max-width: 821px;
    min-height: 139px;
}
.about-description-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #252D37;
    text-align: justify;
    
}
/* Конец блока "О нас"*/

/* Начало блока "Услуги" */
.services {
    display: inline-block;
    max-width: calc(1440px - 352px);
    width: calc(100vw - 352px);
    margin: 75px 175px 73px 177px;
}
.services-blocks {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 222px;
    display: flex;
    flex-wrap: wrap;
}
.services-block {
    width: 270px;
    height: 62px;
    display: flex;
    flex-direction: row;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 60px;
}

.services-descriprion {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #001E42;
    margin-left: 30px;
}
@media (min-width:1440px) {
    .about {
        /* display: inline-block; */
        justify-content: unset;
    }
}
@media (max-width: 875px) {
    .about {
        width: calc(100vw - 30px);
        /* width: 100vw; */
        flex-wrap: wrap;
        margin-left: 17px;
        margin-right: 13px;
        margin-top: 46px;
    }
    .about-description-text {
        margin-top: 20px;
        text-align: left;
        font-size: 16px;
    }
    .services {
        width: calc(100vw - 30px);
        margin-left: 13px;
        margin-right: 17px;
    }
    .card-top {
        width: 333px;
        height: 123px;
        margin-left: 13px;
    }
    .card-title {
        font-size: 40px;
        line-height: 41px;
        line-height: 103%;
        text-align: Left;
        vertical-align: Top;
    }
    .card-bottom {
        margin-left: 13px;

    }
    .card-middle {
        width: 222px;
        height: 35px;
        margin-left: 13px;

    }
    .button-main {
        margin-left: 13px;
    }
    .description {
        max-height: 100vh;
    }

    /* Текст под кноной отображается только при определенной */
    @media (min-height:620px) {
        .under-bottom {
            display: inline-block;
        }
    }


}
@media (max-width:1432px) {
    .services-blocks {
        justify-content: center;
    }
    .description {
        background: linear-gradient(0deg, rgba(1, 53, 113, 0.25), rgba(1, 53, 113, 0.25)), url(../img/background-sec.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
}

